<header class="header">
    <a href="/" class="header__logo">Admin Panel</a>
  
    <nav class="header__nav">
      <ul>
        <li>
          <a href="/post">Home</a>
        </li>
        <li>
          <a href="/about">About</a>
        </li>
        <li>
          <a href="/contact">Contact</a>
        </li>
      </ul>
  
    </nav>
  
    <div class="header__button">
      <button> <a href="/admin/logout"></a> Logout </button>
    </div>
  
  </header>